#bg {
	font-family: 'Roboto', sans-serif;
	font-size: 1000%;
	color:#d0d0d0;
	text-shadow: 2px 2px #f0f0f0;
	position: absolute;
	top: 100px;
	left: 45%;
	margin-left: -200px;
	bottom: 0;
	right: 0;
	z-index: 0;
	overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
