#bg {
	letter-spacing: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1000%;
	color:#d0d0d0;
	text-shadow: 2px 2px #f0f0f0;
	position: absolute;
	top: 10px;
	left: 45%;
	margin-left: -200px;
	bottom: 0;
	right: 0;
	z-index: 0;
	overflow: hidden;
}

#hover_button{
	font-size: 50%;
	margin-top:180px;
	color:#b0b0b0;
	text-shadow: 2px 2px #f0f0f0;
	font-family: 'Roboto', sans-serif;
}

.vertical-text{
	color:#a0a0a0;
	position:absolute;
	left: 45%;
	top: 100px;
	margin-left: -320px;
    margin-right: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 150%;

	-webkit-transform: rotate(-90deg);
  	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for 	styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.left-text {
	line-height: 165%;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	left:45%;
	margin-left: -190px;
	top: 200px;
	text-align: left;
}

.right-text {
	line-height: 165%;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	left:45%;
	margin-left: 130px;
	top: 200px;
	text-align: right;
}

.center {
	z-index:100000;
	position: absolute;
	display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.round-button {
	left: 45%;
	margin-left: -245px;
    margin-right: auto;
	display: block;
	line-height: 30px;
	position: relative;
	margin-bottom: 15px;
	top: 55px;
	width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #464646;
    box-shadow: 0 0 3px gray;
    
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: 'Myriad Pro Bold', sans-serif;
}

.round-button a{
	text-decoration: none;
	color: white;
}
	

.round-button a:visited {
	text-decoration: none;
	color: white;
}
	


.round-button i {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    display: block;
    width: 80%;
    padding: 12%;
    height: auto;
}

